
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Data folders
# Ignorar todo lo de data excepto modelos
data/*
!data/modelos/
!data/modelos/*.pkl
*.csv

# API keys or sensitive files
.env

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db