# requirements.txt
# Finanzas y datos
yfinance
pandas
numpy
# Noticias y análisis de texto
newsapi-python
textblob
# Visualización
plotly
matplotlib
seaborn
streamlit
# Machine Learning
scikit-learn

lxml